.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.services-title{
    position: relative;
}
.services-title h1 {
    font-size: 50px;
    font-weight: 600;
    padding: 0px 30px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
}

.services-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}
.services-format:hover {
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300 );
    transform: scale(1.05);
    transition: 0.5s;

}

.services-format h3 {
    font-size: 35px;
    font-weight: 700;
    color: #DA7C25;
}

.services-format h2 {
    font-size: 28px;
    font-weight: 800;
    background: linear-gradient(270deg, #DA7C25 0.36%, #B415FF 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-format p {
    font-size: 18px;
    line-height: 40px;
    color: #d4d4d4;
    max-width: 300px;
}

.services-readmore {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
    cursor: pointer;
}

.services-readmore p {
    font-size: 18px;
    font-weight: 600;
    color: #DA7C25;
}
