.profile{
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
        display: block;
        /* optional styling */
        border: 3px solid #fff;
        box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

@media (max-width: 600px) {
    .profile{
        width: 110px;
        height: 110px;
    }
}
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top: 100px;

}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 100% );
    background-color: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6% );
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
}
.hero-connect:hover{
    border: 2px solid white;
    color: #ffffff;
}
.hero-resume:hover{
    border-color: greenyellow;
}