.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: 80px 170px;
}

.mywork-title {
    position: relative;
    text-align: center;
}

.mywork-title h1{
    padding: 0px, 30px;
    font-size: 50px;
    font-weight: 600;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mywork-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    width: 100%;
}

.mywork-container > div {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.mywork-container img {
    box-sizing: border-box;
    width: 100%;
    height: 280px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    display: block;
}

.mywork-container img:hover {
    transform: scale(1.05);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    transform: scale(1.10);
}

@media (max-width: 1024px) {
    .mywork-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .mywork-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .mywork {
        margin: 80px 20px;
        gap: 40px;
    }
    .mywork-title h1 {
        font-size: 36px;
    }
}
